body {
  margin: 0;
  overflow: hidden;
  background-color: #00796b; /* Card table green background */
  color: black; /* Text color */
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80vh;
  overflow: hidden;
}

#score {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
}

#player-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#dealer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 80px;
}

#deck {
  text-align: center;
}

#dealer-hand, #player-hand {
  padding: 20px;
}

.points {
  margin-top: 10px;
}

#button-container {
  display: block;
}

#Hit, #Stay {
  margin: 5px;
  padding: 10px;
  width: 100%;
}

#Deck {
  text-align: left;
  margin-right: 500px;
  margin-top: 10px;
}

img {
  display: inline;
  height: 120px;
  transition: transform 1s ease-in-out;
}

